.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Google {
  margin-right: 30px;
}
.authBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
