.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.inputName {
  width: 150px;
  height: 20px;
  border: none;
  background-color: #fcdcf0;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}

.inputName:focus {
  outline: none;
  border-radius: 15px;
  width: 150px;
  height: 20px;
  background-color: #ffc9ec;
}

.update {
  border: none;
  background-color: #f2ccff;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.logout {
  margin-top: 15px;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}
