ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
}

.Home {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}
.Home:visited {
  color: #74e3ff;
  text-align: center;
}

.profile {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.profile:visited {
  color: #74e3ff;
}
